/* Estilizando os elementos dentro do componente PetshopSelector */
.PetshopSelector label,
.PetshopSelector input,
.PetshopSelector button {
  
}

/* Ajustes de tamanho específicos para cada tipo de texto */
.PetshopSelector label {
  font-size: 25px;
}

.PetshopSelector input {
  font-size: 18px;
}

.PetshopSelector button {
  background-color: transparent;
  border: none;
  padding: 0;
  transition: transform 0.3s ease;
}

/* Efeito de diminuir no botão quando clicado */
.PetshopSelector button:active {
  transform: scale(0.80);
}

.PetshopSelector input[type="number"] {
  font-size: 20px;
  width: 50px;
}

.PetshopSelector #calendar-input {
  font-size: 18px;
  width: 130px;
}

.PetshopSelector .data-container,
.PetshopSelector .dogs-container {
  background-color: #c3e3fd;
  padding: 1px 8px 20px 8px;
  margin: 10px 500px 20px 500px;
  border-radius: 10px;
  font-family: Georgia, 'Times New Roman', Times, sans-serif;
  font-weight: normal;
}